<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsTool.Properties.Settings>
            <setting name="PInvokeSnippetAutoGenerate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PInvokeSearchKind" serializeAs="String">
                <value/>
            </setting>
            <setting name="PInvokeLanguageType" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PInvokeSearchAutoGenerate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PInvokeShowAll" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
